################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/Tests/WPLMNETClient.NetFramework.Tests/obj/Debug
/Tests/WPLMNETClient.NetFramework.Tests/bin/Debug
